@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,500;0,600;0,700;0,800;0,900;0,1000;1,400&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Mulish', sans-serif;
}
.nav-bar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    background-color: #FFF;
    padding: 0.75rem;
}
.logo img{
    width: 2.5rem;
}
.nav-flex{
    display: flex;
    gap: 1.5rem;
}
.menu{
    display: flex;
}
.menu li {
    padding-left: 1.87rem;
}
.menu li a{
    display: inline-block;
    text-decoration: none;
    color: #424247;
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
}
.menu li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 1px;
    background-color: #FFF;
    transition: 0.15s ease-in-out;
}
.menu li a:hover:after {
    width: 100%;
}
.open-menu , .close-menu{
    position: absolute;
    color: #424247;
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}
.open-menu{
    top: 50%;
    right: 20px;
}
#check{display: none;}
.home {
    color: #FF5400;
    text-align: center;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.main-body {
    width: 85%;
    max-width: 1170px;
    margin: 0 auto;
}

.banner {
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../Images/banner.png');
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    border-radius: 1rem;
}

.banner-heading {
    color: #FFF;
    font-family: Mulish;
    font-size: 4rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.banner-description {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    padding: 0px 247px;
}

.input {
    display: inline-flex;
    padding: 1rem;
    align-items: flex-start;
    gap: 1.5rem;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}

/* .down-arrow{
    background-image: url('../Images/down-arrow.jpg');
    background-repeat: no-repeat;
    background-position: end;
} */

.input>input {
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    border: none;
    padding-left: 1rem;
}

.when>input {
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    border: none;
    padding-left: 1rem;
}

.when>img {
    margin-left: -2.5rem;
}

.select-type>input {
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    border: none;
    padding-left: 1rem;
}

.select-type>img {
    margin-left: -2.5rem;
}

.find-now-button {
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    width: 174px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FF5400;
    border: none;
    padding: 1rem;
}

.our-popular-tours {
    margin: 4rem 0rem 0rem 0rem;
    display: flex;
}

.popular-tour-content {
    text-align: justify;
    padding: 0rem 1.5rem .5rem 1.5rem;
    width: 50%;
}

.popular-tour-content h1 {
    color: #131318;
    text-align: center;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 1rem;
}

.popular-tour-content p,
li {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 1rem;
}

.read-more-button {
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    width: 174px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FF5400;
    border: none;
    padding: 0.87rem 2.12rem 0.81rem 2.18rem;
    margin-top: 1.5rem;
}

.popular-tour-image {
    width: 50%;
}

.popular-tour-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 0rem;
    margin: 0 auto;
    border-radius: 1rem;
}

.choose-your-destination {
    margin-top: 6.25rem;
}

.destination-content {
    margin-bottom: 3rem;
}

.destination-content h1 {
    color: #131318;
    text-align: center;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 1.5rem;
    margin-top: 3rem;
}

.destination-content p {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.image-1 {
    grid-area: maldives;
}

.image-2 {
    grid-area: Indonesia;
}

.image-3 {
    grid-area: Srilanka;
}

.image-4 {
    grid-area: North-America;
}

.image-5 {
    grid-area: Kashmir;
}

.image-6 {
    grid-area: Bangladesh;
}

.image-7 {
    grid-area: Bandarban;
}

.destination-images img {
    width: 100%;
    height: 100%;

    border-radius: 16px;
    /* background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%); */
}

.destination-images {
    display: grid;
    grid-template-areas:
        ' maldives maldives maldives maldives    Indonesia Indonesia   Indonesia Indonesia '
        'Srilanka Srilanka    North-America North-America North-America North-America      Kashmir Kashmir'
        'Bangladesh Bangladesh Bangladesh    Bandarban Bandarban Bandarban  Bandarban Bandarban'
    ;
    gap: 0.625rem;
}

.image-1,
.image-2,
.image-3,
.image-4,
.image-5,
.image-6,
.image-7 {
    position: relative;
    text-align: center;
    color: white;
}

.destination-images-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    text-align: center;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

}

.why-choose-us {
    margin-top: 6.25rem;
}

.why-choose-us-content h1 {
    color: #131318;
    text-align: center;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 1.5rem;
}

.why-choose-us-content p {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    width: 643px;
    margin: 0 auto;
    margin-bottom: 3rem;
}

.choose-us-card img {
    width: 50px;
    height: 50px;
}

.choose-us-card h1 {
    color: #131318;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.choose-us-card p {
    color: #5A5A5D;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    width: 98%;
}

.card-1,
.card-3 {
    width: 450px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 2rem 2.43rem 2rem 2rem;
}

.card-2 {
    width: 450px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding: 2rem 2.43rem 2rem 2rem;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 1rem;

}

.choose-us-card {
    flex-basis: 500px;
}
.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 1.25rem;
}
.review-container-card {
    width: 15rem;
    height: 15rem;
    border-radius: 16px;
    border: 1.5px solid #c70808;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    padding: 1rem;
    margin-top: 1rem;
    flex-basis: 18rem;
}

.img-name {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.client-img img {
    width: 50px;
    height: 50px;
    border: 0.25rem solid #0a496b;
    border-radius: 50%;
}
.rating-score p{
    margin-top: 3rem;
    text-align: center;
}
.news-letter {
    display: flex;
    gap: 0.87rem;
    margin-top: 5rem;
}

.news-letter-content {
    border-radius: 16px;
    border: 1px solid #FF5400;
    width: 40%;
    padding: 2.5rem;
}

.news-letter-content h1 {
    color: #131318;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

}

.news-letter-content p {
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 2rem;
}



.save-up {
    width: 15rem;
    height: 5rem;
    transform: rotate(-19.628deg);
    flex-shrink: 0;
    border-radius: 1rem;
    background: #FF5400;
    text-align: center;
    padding: 1rem;
    position: absolute;
    margin-top: -10rem;
    margin-left: 20rem;
}

/* .news-letter-image {
    position: absolute;
} */
.travel {
    transform: rotate(-19.628deg);
    color: #FFF;
    text-align: center;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.Save {
    transform: rotate(-19.628deg);
    color: #FFF;
    font-family: Mulish;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.input-container {
    margin-top: 1rem;
}

.input-container input {
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    width: 70%;
    margin: 0.75rem auto;
    height: 3.25rem;
    border: none;
}

::placeholder {
    color: rgba(19, 19, 24, 0.30);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 1rem;
}

.input-container {
    display: flex;
    flex-direction: column;
}

.subscribe {
    border-radius: 8px;
    background: #FF5400;
    width: 70%;
    height: 3.25rem;
    margin: 0.75rem auto 0rem;
    border: none;
}

.news-letter-image img {
    width: 100%;
    height: 100%;
}

.footer {
    width: 100%;
    height: 502px;
    background: rgba(19, 19, 24, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

.footer-heading {
    display: flex;
    gap: 0.62rem;
}

.footer-heading h1 {
    color: #131318;
    font-size: 2rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 1rem;
}

.footer-heading-tour {
    color: #FF5400;
    font-size: 2rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.footer-description {
    color: #5A5A5D;
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 2.1rem;
}

.social-icon {
    display: flex;
    gap: 1.25rem;
    margin-bottom: 3.125rem;
}

.harizontal {
    background: rgba(19, 19, 24, 0.10);
    width: 85%;
}

.copy-right {
    margin-top: 3.125rem;
    color: #131318;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.review-container-content h1 {
    color: #131318;
    text-align: center;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: 4rem;
}

.review-container-content p {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 1rem;
    text-align: center;
    margin-top: 1rem;
}